button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-offblack);
  color: var(--color-offwhite);
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  border-color: var(--color-green);
  background-color: var(--color-green);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}
